body, html{
    background-color: white; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/img/santa404.webp');
}

h1 {
font-size: 72px;
}

h2 {
font-size: 48px;
}

p {
font-size: 18px;
}