.input-group {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.input-group .form-control {
    padding-right: 30px; /* Adjust according to your help button size */
}
.boton-ayuda {
    position: absolute;
    right: 5px; /* Adjust according to your preferences */
    border: none;
    background-color: transparent; /* Or any other style you prefer */
    cursor: pointer;
    font-size: 30px;
}
.boton-ayuda-raros {
    position: absolute;
    right: 40px; /* Adjust according to your preferences */
    border: none;
    background-color: transparent; /* Or any other style you prefer */
    cursor: pointer;
    font-size: 30px;
}


.modal-oculto {
    display: none;
}

.modal-visible {
    display: block;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.modal-contenido {
    background-color: #fefefe;
	color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    word-wrap: break-word; /* Ensures that text wraps automatically */
    font-family: Arial, Helvetica, sans-serif;
}

.cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 58px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar-modal:hover,
.cerrar-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.texto-ayuda {
    max-width: 100%; /* Sets a maximum width for the text */
    padding: 10px; /* Adds some internal margin so the text doesn't touch the edges */
	font-size: 18px;
    text-align: left;
}