/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
  font-family: 'Dancing Script', cursive;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  flex-direction: column; /* Main right column */
  background-size: container;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

.container {
  width: 80%;
  margin: 40px auto;
  overflow: hidden;
  text-align: center; /* Center content */
}

.container-edit {
  width: 80%;
  margin: 40px auto;
  overflow: hidden;
  text-align: center; /* Center content */
  display: grid;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: #45a049;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

.btn-edit {
    position: fixed; /* Fixed positioning */
    top: 10px; /* 10px from top */
    right: 10px; /* 10px from right */
    padding: 10px; /* Internal spacing */
    background-color: #4c98af; /* Background color */
    color: white; /* Text color */
    border: none; /* No borders */
    border-radius: 5px; /* Rounded borders */
    cursor: pointer; /* Hand cursor */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .footer-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

footer .footer-container a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

footer .footer-container a:hover {
    text-decoration: underline;
}



.btn {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px; /* Rounded borders */
  transition: background-color 0.3s; /* Smooth transition */
}

.btn:hover {
  background-color: #367C39; /* Color change on hover */
}

.return-to-home {
  margin-top: 30px;
  text-align: center;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
  margin-top: 200px;
}
.container-edit {
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px;
  margin-top: 5%;
}

header, section {
	margin-bottom: 30px;
	text-align: center;
}


header {
	background-color: #ff5050;
	color: white;
	padding: 20px 0;
}

section {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Typography */
h1, h2, h3 {
	font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding-top: 40px;
}

/* Buttons and Forms */


input[type=submit], .btn-edit {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	font-size: 16px;
}

input[type=submit]:hover, .btn-edit:hover {
	background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 768px) {
	.container {
		padding: 10px;
    margin-top: 50px;
	}
}

    body, html {
      height: calc(100% - 120px);
      margin: 0;
      font-family: 'Dancing Script', cursive;
      }
    .left-section {
      background: linear-gradient(#616259, #97968d); /* Vertical gradient */
      flex: 0 1 30%; /* Takes 30% of width */
      padding: 20px;
      margin: 0 20px; /* Side margins to center content */
      display: flex;
      flex-direction: column;
      justify-content: center; /* Center content vertically */
    }
    .right-section {
      flex: 0 1 70%; /* Takes 70% of width */
      display: flex;
      flex-direction: column; /* Main right column */
    }
    .header {
      color: white; /* Assuming white text */
      font-size: 48px;
      margin-bottom: 20px;
      text-transform: uppercase; /* Uppercase text */
      font-weight: bold; /* Bold text */
      line-height: 1.2; /* Line height for better readability */
      display: flex; /* Using flex to create desired layout */
      flex-direction: column; /* Stack elements vertically */
      align-items: center; /* Center horizontally */
    }
    form {
      width: 80%; /* Adjusted form width */
      margin: 0 auto; /* Automatic centering */
      display: grid;
    }
    input, textarea {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 20px; /* Rounded borders */
      background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
      box-sizing: border-box; /* So padding doesn't affect total width */
    }


	/*NAVBAR*/
  .navbar {
    display: flex;
    justify-content: space-between; /* This distributes space between navbar elements */
    align-items: center; /* This centers elements vertically */
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar a, .navbar .language-select {
    float: none; /* With flexbox, we no longer need float */
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover, .navbar .language-select:hover {
    background: #ddd;
    color: black;
}
	.language-select select {
		background: transparent;
		border: none;
		color: #f2f2f2;
		font-size: 16px;
	}

	.language-select select:focus {
		outline: none;
	}

	.language-select select:focus {
		color: #000000; /* Text color */
	}

	  .container-body {
		height: calc(100% - 120px); /* Subtract navbar height */
		overflow: auto;
		padding-top: 60px;
		padding-bottom: 60px;
	  }

	  @media (max-width: 768px) {
		.container-body {
		  width: 100%;
		  padding: 10px;
		  padding-bottom: 60px; /* Space for footer */
		}

		/* Other adjustments for specific elements if needed */
	  }

/*ANIMATION*/
.highlight {
    animation: highlightAnimation 2s ease-in-out;
}

@keyframes highlightAnimation {
    0% { border-color: #ccc; }
    50% { border-color: #ff9800; }
    100% { border-color: #ccc; }
}

/* Styles for form select elements */
.select-formulario-user {
  width: 100%;
  padding: 12px;
  justify-self: center;
  border-radius: 7px;
  transition: border-color 0.3s ease; /* Smooth border color transition */
}

.select-formulario-user:focus {
  border-color: #007bff; /* Change border color on focus */
}

.logout-button {
  background-color: #cb0404; /* Red background for button */
  color: white; /* White text for contrast */
  border: none; /* Remove default button border */
  padding: 10px 20px; /* Add padding to make button larger */
  cursor: pointer; /* Change cursor to hand on hover */
  width: 120px;
  height: 30px;
}

.logout-button:hover {
  background-color: darkred; /* Change color on hover for visual feedback */
}

#volver-inicio {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#volver-inicio:hover {
  background-color: #c00;
}

.contenedor-error {
  max-width: 600px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); 
}

.olvido-usuario, .olvido-usuario:visited {
  color: red; /* Change text color to red */
font-weight: bold;
}

.olvido-usuario:hover {
  color: yellow; /* Optional: Change color on hover */
 font-weight: bold;
}

.form-container {
  flex: 1; /* Take remaining space */
  overflow-y: auto; /* Add scroll if content exceeds space */
  display: flex; /* Add flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: auto;
}

.boton-siguiente, .boton-enviar, .boton-anterior {
  padding: 12px 25px;
  border: none;
  border-radius: 7px;
  background-color: #b30000;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  margin: 5px 0; 
  width: 125px; 
  height: 40px; 
}

.boton-siguiente:hover, .boton-enviar:hover, .boton-anterior:hover {
background-color: #ff4d4d;
  transform: scale(1.05); /* Increase button size on hover */
}
.boton-anterior{
  margin-right: 20px;
}

.input-button-container {
  display: flex;
  justify-content: space-between; /* Distribute space between elements */
  align-items: center; /* Align elements vertically */
  width: 100%; /* Ensure container uses all available width */
}

.input-container {
  display: flex;
  flex-direction: column; /* Organize inputs in a column */
  margin-right: 20px; /* Space between inputs and button */
  width: 100%;
}


.input-formulario, .textarea-formulario {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid;
  border-color: #ff4d4d;
  border-radius: 7px;
  font-size: 18px;
  transition: border-color 0.3s ease; /* Smooth border color transition */
}

.input-formulario:focus, .textarea-formulario:focus {
  border-color: #007bff; /* Change border color on focus */
}

.next-back {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-formulario {
  width: 100%;
  padding: 12px;
  margin-right: 15px;
  border: 2px solid;
  border-color: #ff4d4d;
  border-radius: 7px;
  font-size: 18px;
  transition: border-color 0.3s ease; /* Smooth border color transition */
}

.select-formulario:focus {
  border-color: #007bff; /* Change border color on focus */
}

/* Form styles */
#formulario2 {
  width: 85%;
  height: 25%; /* Adjust height to 80% */
  padding: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3); /* More pronounced shadow */
  border-radius: 15px; /* More rounded borders */
  background-color: rgba(255, 255, 255, 0.8); /* Lighter background color */
  transition: box-shadow 0.3s ease; /* Smooth shadow transition */
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: flex; /* Add flexbox */
  flex-direction: column; /* Align elements in a column */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

#formulario2:hover {
box-shadow: 0 0 35px rgba(0, 0, 0, 0.5); /* More pronounced shadow on hover */
}

#container-register {
  width: 100%;
}

/* Form field styles */
.campo-formulario {
  align-items: center; /* Center elements vertically */
  justify-content: center; /* Center elements horizontally */
  width: 80%;
}

.mensaje-error {
  display: none; /* Hidden initially */
  padding: 5px;
  background-color: #ffdddd;
  border: 1px solid #ff4d4d;
  color: #d8000c;
  font-size: 14px;
  border-radius: 5px;
  white-space: nowrap; /* Prevent text from breaking into lines */
  align-self: center;
}

#abrirModal{
  width: 100%; 
  padding: 12px; 
  border-radius: 7px; 
  transition: border-color 0.3s ease;
  justify-self: center;
}

#change-password{
  background-color: #18819b;
}
#delete-profile{
  background-color: #c00;
  color: white;
}
#user_mail{
  color: white;
  font-size: xx-large;
}

.hidden {
  display: none;
}

#popup {
  position: fixed;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  background: #4CAF50;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
 }

 .container-box {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}
  #container-confirm{
       margin-top: 80px;
       margin-bottom: 80px;
       height: calc(100vh - 120px); 
   }

   @media (max-width: 768px) {
    .left-section, .santa-container {
       display: none;
   }
   .input-formulario{
       width: 100%;
   }
   .right-section {
       flex: 1;
   }

   .form-container {
       width: 100%;
       max-width: 100%;
       padding: 20px;
       box-sizing: border-box;
       height: auto;
   }
   .campo-formulario{
       width: 100%;
   }
   .input-button-container{
       display: block;
   }
   #formulario{
       width: 100%;
       height: 200px;
   }
   .mensaje-error{
       margin-top: 5%;
   }
   .container-edit{
    width: auto
   }
   .navbar a, .navbar .language-select {
    padding: 10px 8px;
    font-size: 14px; 
  }
  
  .navbar img {
    height: 40px; 
    width: 40px;
  }
   #user_mail {
    display: none;
   }
   .logout-button{
    height: 40px;
   }
   .container-edit{
    padding: 0;
   }
   .container{
    width: 100%;
   }
   #container-confirm{
    height: 50%;
   }
}

